<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot2" >
  <!-- Include the main robot description -->
  <xacro:include filename="$(find example)/ros2_control_description/robot2_description.xacro"/>
  
  <!-- Hardware and controllers for ros2_control -->
  <xacro:include filename="$(find example)/ros2_control_description/robot2.ros2_control.xacro"/>

  <xacro:Robot4Farmers_description/>

  <xacro:Robot4Farmers/>
</robot>
